.App {
  text-align: center;
}

button {
  margin-left: 1.5vw;
  font-size: 2em;
  border-radius: 8px;
  padding: 0.5vw;
  background-color: cadetblue;
  color: aliceblue;
}

.input {
  font-size: 1.5em;
  padding: 1vw;
  border-radius: 8px;
  border: 4px solid cadetblue;
}

h1 {
  margin: 5vw 0;
}

img {
  width: 15em;
  height: auto;
  margin-right: 1vw;
}

.card {
  display: flex;
  padding: 1vw;
  margin: 2vw;
  border: 4px solid rgb(20, 93, 95);
  border-radius: 10px;
}

.card-list {
  width: 50%;
  margin-left: 20vw;
  margin: 2vw auto;
}

.details {
  text-align: center;
}
